{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <center>
        <h1> Welcome to DjangoGramm!</h1>
    </center>
    <form method="post">
        Log in:<br>
        {% csrf_token %}
        {{ form.username }}<br>
        {{ form.password }}<br>
        {% if fl %}
            Error: typo in password or username<br>
        {% endif %}
        <button type="submit" class="btn btn-success">Log in</button>
    </form>
    <p><strong>-- OR --</strong></p>
    <div class="box">
    <div><form action="{% url 'social:begin' 'github' %}">
        <button class="btn btn-success">Sing in with GitHub</button>
    </form></div>
    <div>               </div>
    <div><form action="{% url 'social:begin' 'google-oauth2' %}">
        <button class="btn btn-success">Sing in with Google</button>
    </form></div>
    </div>
    <p>
        If you are new user, please register:
        <a href="{% url 'registration' %}">Registration</a>
    </p>
</div>

{% endblock %}